.container {
  width: 100vw;
  height: 100vh;

  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr minmax(min-content, 3fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-rows: repeat(2, 2fr 1fr); */

  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.container div {
  /* width: 100px;
  height: 100px; */
  background-color: yellow;
  border: 1px solid black;
}

/* @media (min-width:935px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
