@import "tailwindcss";

:root {
  --acme-canvas-color: oklch(0.967 0.003 264.542);
}

@theme {
  --color-regal-blue: #243c5a;
  --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  /* --inset-shadow-md: ; */
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@theme {
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);
}

/* disabling some  colors */
@theme {
  --color-lime-*: initial;
  --color-fuchsia-*: initial;
}

[data-theme="dark"] {
  --acme-canvas-color: oklch(0.21 0.034 264.665);
}

/* Use @theme inline when defining colors that reference other colors */
@theme inline {
  --color-canvas: var(--acme-canvas-color);
}

/* disabling alll colors and then add ur own custom colors */
/* @theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
} */

@layer components {
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-900);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
}
