@import "tailwindcss";

@theme {
  --color-regal-blue: #243c5a;

  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem;
  --text-tiny--letter-spacing: 0.125rem;
  --text-tiny--font-weight: 500;
}