@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --color-regal-blue: #243c5a;
  --font-display: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* @font-face {
  font-family: ;
  src: url();
} */